.blog-content pre:nth-of-type(1) {
  border-left: 4px solid #0366d6;
}

.blog-content pre:nth-of-type(2) {
  border-left: 4px solid #22863a;
}

.blog-content pre:nth-of-type(3) {
  border-left: 4px solid #d73a49;
}
